*{
	font-family: 'Merriweather', serif;
}
.about-us{
	font-size: 50px;
	position: relative;
	top: 80px;
	left: 45%;
}
.calling{
	position: relative;
	right:  50px;
}
}
nav{
	text-align: left;
	font-family:Merriweather-BoldItalic;
	background-color: red;

}
p{
	font-family: Merriweather-BoldItalic;
	margin-left : 100px; 
	margin-right: 100px;
}

.footer{
	position: relative;

}